<nav class="bg-white border-gray-200 dark:bg-gray-900 shadow">
  <div class="max-w-screen-xl flex flex-grow flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse ">
      <img src="/images/freshcart-logo.svg" class="h-8" alt="FreshCart Logo" />
    </a>

    <div class="flex md:order-2">

      <button data-collapse-toggle="navbar-menu" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-menu" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>


    <div class="items-center justify-between hidden w-full md:flex flex-grow   md:w-auto md:order-1 ps-10"
      id="navbar-menu">
      <ul
        class="capitalize flex flex-col p-4 md:p-0 mt-4 font-medium border rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        @if(isLoggedIn()){

        <li><a class="block py-2 px-3 text-gray-500 rounded-sm md:p-1" routerLink="home"
            routerLinkActive="bg-main-color text-white">Home</a></li>
        <li><a class="block py-2 px-3 text-gray-500 rounded-sm md:p-1" routerLink="products"
            routerLinkActive="bg-main-color text-white">Products</a></li>
        <li><a class="block py-2 px-3 text-gray-500 rounded-sm md:p-1" routerLink="categories"
            routerLinkActive="bg-main-color text-white">Categories</a></li>
        <li><a class="block py-2 px-3 text-gray-500 rounded-sm md:p-1" routerLink="brands"
            routerLinkActive="bg-main-color text-white">Brands</a></li>





        }
      </ul>
      <ul
        class="capitalize flex flex-col p-4 md:p-0 mt-4 font-medium border rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        @if(isLoggedIn()){
        <li><a class="block py-2 px-3 text-gray-500 rounded-sm md:p-1" routerLink="signout"
            routerLinkActive="bg-main-color text-white" (click)="signOut()">Sign Out</a></li>

        }
        @else {
        <li><a class="block py-2 px-3 text-gray-500 rounded-sm md:p-1" routerLink="login"
            routerLinkActive="bg-main-color text-white">Login</a></li>
        <li><a class="block py-2 px-3 text-gray-500 rounded-sm md:p-1" routerLink="register"
            routerLinkActive="bg-main-color text-white">Register</a></li>
        }

      </ul>

    </div>
  </div>
</nav>